<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<br>

<h2>プロフィール一覧</h2>
  メールアドレス:<%= @user.email %>
  <br><br>
  地域:<%= @user.place %>
  <br><br>
  誕生日:<%= @user.birthday %>
  <br><br>
  コメント:<%= @user.comment %>
  <br><br>
  <%= link_to "edit" , edit_user_path(@user) %>